
  .background{
    position: fixed;
    width: 100vw;
    min-height:100vh;
    background-image:url("./pexels-karolina-grabowska-7193631.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
  .containerNav{
   /*  background-color: #87A330; */
/*     box-shadow: 0px 0px 100px red;  */
 /*    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
     */height: 9vh;
    display: flex;
    background-image:url("./pexels-karolina-grabowska-7193631.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px #000;
/*     justify-content: space-between; */
    width: 100vw;
    position: fixed;
    z-index: 4;
  }
  .turnBackNav{
/*     background-color: aliceblue; */
    height: 100%;
    display: flex;
    align-items: center;
    width: 10vw;
/*     background-color: aqua; */
  }
.arrowNav{

    margin-left: 1vw;
    font-size: 30px;
    color:  #000 ;
    transition-duration: 1s;
}
.searchDivNav{
    display: flex;
/*     background-color: #EB5E28; */
    height: 100%;
    align-items: center; 
    flex-direction:row;
    width: 50vw;
}
.optionsNav{
/*     background-color: aliceblue; */
    height: auto;
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-evenly;
/*     background-color: #EB5E28; */
}
.linkNav{
    font-size: 30px;
    text-decoration: none;
    color:  #000;
    font-weight: 500;
    transition-duration: 1s;
}
.arrowNav:hover{
    color:#fff;
    cursor: pointer;
}

.linkNav:hover{
    color:#fff;
    cursor: pointer;
}

@media (max-width:650px) {
    .containerNav{
        flex-wrap: wrap;
        bottom: 0px;
        background-position: bottom;
      }
      .turnBackNav{
            height: 100%;
            display: flex;
            align-items: center;
            width: 10vw;
          }
        .arrowNav{
        
            margin-left: 1vw;
            font-size: 30px;
            color:  #000 ;
        }
        .searchDivNav{
            display: flex;
            position: fixed;
            bottom:10vh;
            width: 100vw;
            box-sizing:border-box;
            padding: 0 5%;
/*             margin:  auto; */
            z-index: 2;
        /*     background-color: #EB5E28; */
            height: 5vh;
            align-items: center; 
            flex-direction:row;
        }
    .optionsNav{
        width: 90vw ;
        height: 100%;
    }
    .linkNav{
        font-size: 25px;
    }
 }