 .barra{
    padding: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.divFilters{
    position: fixed;
    width: auto;
    left: 50%;
    transform: translate(-50%);
    top: 9vh;
    padding: 15px;
    background-color: #495057;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-top: none;
    border-radius: 0  0  1rem 1rem;
    z-index: 1;
}
.filters{
    color:#fff;
    font-size: 20px;
    margin:0 1rem;
    
} 
@media (max-width:650px) {
.divFilters{
    position: fixed;
    width: auto;
    left: 50%;
    transform: translate(-50%);
    top: auto;
    bottom: 9vh;
    padding: 15px;
    background-color: #495057;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-top: none;
    border-radius: 0  0  1rem 1rem;
    z-index: 1;
}
    
}