*{
    margin:0;
    padding:0
}
/* .listado{
    background: linear-gradient(to bottom right, #FFEDD8, white  );
} */
 
.uls{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.link{
    text-decoration: none;
    display: flex;

}
.conteiner{
/*     border: 2px solid #87A330; */
  border-radius: 0 0 2rem 2rem;
    margin: 20px;
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}
.titulo{
    font-size: 24px;
    font-weight:bolder;
    color:#000;
}
.datode{
    font-size: 25px;
}
.divs{
    display:flex;
    gap: 16px;
    padding: 5px;
    flex-wrap: wrap;
}
.inputs{
    font-size: 16px;
    color:#000;
    background: #FFEDD8;
}
/*  .numero{
    font-size:20px;
    padding: 4px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    border: 2px solid #603808;
    background-color: #FFEDD8;
    color:#603808;
} */
.to{
    color:#000;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
} 

.temperamentos{
    font-size:18px;
    padding: 4px;
    margin: 0px;
    justify-content: center;
/*     background-color: #87A330; */
    color:#000;
    border-radius: 2px;
}
.divImage{
    width: 100%;
    height: 20rem;
    height: width;
    background-color: #A47148;
    display: flex;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
/*     max-width: 200px;
    border-radius: 60px; */
/*     border: 2px solid #A47148;  */
}