.containerList{
/*   display: flex; */
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
/*   background-color: aqua; */
}
.containerDogs{
  display: flex;
  justify-content: center;
}
 @media (max-width:650px) {
  .containerList{
    position: relative;
    top: auto;
    }
} 