.selectT{
    font-size: 20px;
    color:#495057;
    background: #fff;
    border-radius: 3px;
}
@media (max-width:650) {
    .selectT{
        font-size: 10px;
        color:#495057;
        background: #fff;
        border-radius: 3px;
    }
}