.selectC{
    font-size: 20px;
    color:#495057;
    background: #fff;
    border-radius: 3px;
}

@media (max-width:650px) {
    .selectC{
        font-size: 15px;
        color:#495057;
        background: #fff;
        border-radius: 3px;
    }
}